include AUTHORS
include ChangeLog
exclude .gitignore
exclude .gitreview

global-exclude *.pyc
global-exclude .DS_Store
global-exclude .vagrant
global-exclude vagrant
global-exclude samples
global-exclude tests

recursive-exclude samsara *.pyc .DS_Store
